{% extends "en_US/base.html" %}

{% block head %}
	{{ super() }}
	<link href="/assets/css/game.css" rel="stylesheet">
	<link href="/assets/css/stopwatch.css" rel="stylesheet">
{% endblock %}
		
{% block body %}

	<div class="inner">
		<div id="boardContainer">
			<table id="chess-board">
				<tbody>
					<tr><td> </td><td>a</td><td>b</td><td>c</td><td>d</td><td>e</td><td>f</td><td>g</td><td>h</td><td> </td></tr>
					<tr><td>8</td><td class="B_R"></td><td class="B_N"></td><td class="B_B"></td><td class="B_Q"></td><td class="B_K"></td><td class="B_B"></td><td class="B_N"></td><td class="B_R"></td><td>8</td></tr>
					<tr><td>7</td><td class="B_P"></td><td class="B_P"></td><td class="B_P"></td><td class="B_P"></td><td class="B_P"></td><td class="B_P"></td><td class="B_P"></td><td class="B_P"></td><td>7</td></tr>
					<tr><td>6</td><td class="X"></td><td class="X"></td><td class="X"></td><td class="X"></td><td class="X"></td><td class="X"></td><td class="X"></td><td class="X"></td><td>6</td></tr>
					<tr><td>5</td><td class="X"></td><td class="X"></td><td class="X"></td><td class="X"></td><td class="X"></td><td class="X"></td><td class="X"></td><td class="X"></td><td>5</td></tr>
					<tr><td>4</td><td class="X"></td><td class="X"></td><td class="X"></td><td class="X"></td><td class="W_P"></td><td class="X"></td><td class="X"></td><td class="X"></td><td>4</td></tr>
					<tr><td>3</td><td class="X"></td><td class="X"></td><td class="X"></td><td class="X"></td><td class="X"></td><td class="X"></td><td class="X"></td><td class="X"></td><td>3</td></tr>
					<tr><td>2</td><td class="W_P"></td><td class="W_P"></td><td class="W_P"></td><td class="W_P"></td><td class="X"></td><td class="W_P"></td><td class="W_P"></td><td class="W_P"></td><td>2</td></tr>
					<tr><td>1</td><td class="W_R"></td><td class="W_N"></td><td class="W_B"></td><td class="W_Q"></td><td class="W_K"></td><td class="W_B"></td><td class="W_N"></td><td class="W_R"></td><td>1</td></tr>
					<tr><td> </td><td>a</td><td>b</td><td>c</td><td>d</td><td>e</td><td>f</td><td>g</td><td>h</td><td> </td></tr>
				</tbody>
			</table>
		</div>
		<div id="board-overlay">
			<div id="board-waiting">
				<div class="clock">
				  <div class="clock_knob"></div>
				  <div class="clock_hand"></div>
				</div>
				<div id="board-waiting-text">Waiting for opponent...</div>
			</div>
			<div id="board-gameover">
				<div id="board-gameover-text"></div>
			</div>
		</div>
	</div>
	<div class="menu" id="leftMenu">
		<b>Game</b>
		<hr>
		<table id="game-info" border="0">
			<tr><td style="text-align: left"><span class="W_R"></span> {{ game.localizedWhitePlayerName(user_lang) }}</td></tr>
			<tr><td style="text-align: center;"><small>vs</small></td></tr>
			<tr><td style="text-align: right;">{{ game.localizedBlackPlayerName(user_lang) }} <span class="B_R"></span></td></tr>
		</table>
		{% if (game.whitePlayerName() != "__AI__" and game.blackPlayerName() != "__AI__") %}
		<hr>
		<b>Chat</b>
		<hr>
		<div id="chat">
			<div id="chat-history">
				<table id="chat-history-table">
					<col class="time-col">
				</table>
			</div>
			<div id="chat-input-panel">
				<input type="text" id="chat-input" placeholder="Say something...">
				<button id="chat-send-btn">Send</button>
			</div>
		</div>
		<div class="video" id="video">
			<video id="userVideo2" autoplay></video>
			<div class="video" id="videoPreview">
				<video id="userVideo" autoplay></video>
			</div>
			<button id="call-btn">Call</button>
		</div>
		{% endif %}
	</div>
	<div class="menu" id="rightMenu">
		<b>History</b>
		<hr>
		<div id="moves-list" class="list-group">
				<span class="list-group-item"><em>Game started</em></span>
		</div>
	</div>
	<div id="smallOverlay">
		Browser window is too small!
	</div>

{% endblock %}

{% block scripts %}
    {{ super() }}
	
	<script type="text/javascript" src="/assets/js/peer.js"></script>
	<script type="text/javascript" src="/assets/js/utilities.js"></script>
	<script type="text/javascript" src="/assets/js/chess.js"></script>
	<script type="text/javascript" src="/_ah/channel/jsapi"></script>
	<script type="text/javascript">
		// Board
		{% if board %}
		var boardArray = []
		var board = '{{ board }}'.replace(/ /g, '');
		board = board.split('\n').slice(2, 10);
		for (row in board) {
			boardArray.push(board[row].split(''))
		}
		{% endif %}
		
		// User settings
		CHESS_APP.lang = '{{ user_lang }}';
		CHESS_APP.sounds = {{ user.sounds|lower if user else 'true' }};
		
		// User color
		if ("{{ color }}" == "black") {
			CHESS_APP.isBlack = true
		} else {
			CHESS_APP.isBlack = false
		}
		
		// Game data
		{% if json %}
		var jsonStr = '{{ json }}';
		var data = $.parseJSON(jsonStr);
		CHESS_APP.data = data;
		checkGameOver();
		{% endif %}
		
		// Cell click handler
		$('#chess-board tr td').click(function() {
		    CHESS_APP.board.cellClicked($(this));
		});
		
		// Initialization
		$(function() {
			CHESS_APP.startTime = new Date();
			CHESS_APP.game_id = "{{ game.key.id() }}";
			CHESS_APP.board = new Board(boardArray);
			CHESS_APP.board.redraw();
			
			openSocket('{{ channel_token }}');
		});
	</script>
	
{% endblock %}
