{% extends "en_US/base.html" %}

{% block head %}
{{ super() }}
<meta name="google-site-verification" content="BVa5Hw8KWszBOFnU4tdt2WrpPPx5UllBg60AcOgSBkc" />
{% endblock %}

{% block body %}
<div class="container">
	<h1>Welcome!</h1>
	
	<p>The purpose of chess.cf is to provide a simple chess game interface.
	It requires no plugins (e.g. Flash or Java) and can be run from any modern web browser.</p>
	
	<h1>Features</h1>

	<h2>Chess</h2>

	<ul>
	<li>Two-player games between humans</li>
	<li>Single-player games (versus powerful AI engine)</li>
	<li>Castling, <em>en passant</em>, and pawn promotion</li>
	<li>Automatic detection of check, checkmate, and stalemate</li>
	</ul>

	<h2>Technology</h2>

	<ul>
	<li>Greatly standards-compliant design</li>
	<li>Works in any modern web browser (except Internet Explorer 8 and lesser versions), with no plugins such as Flash or Java needed</li>
	<li>Availability in two languages</li>
	</ul>

	<p>More features are coming soon!</p>

	<p>chess.cf works best with modern Internet browsers like <a href="https://www.google.com/chrome">Google Chrome</a>, <a href="http://www.mozilla.com/firefox/">Mozilla Firefox</a>, <a href="http://www.opera.com/">Opera</a> or <a href="http://www.apple.com/safari/">Safari</a>.</p>
	
	<hr>
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-7485153109948583"
	     data-ad-slot="9169322409"
	     data-ad-format="auto"></ins>
	<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endblock %}
