{% extends "en_US/base.html" %}

{% block head %}
{{ super() }}
<meta name="google-site-verification" content="BVa5Hw8KWszBOFnU4tdt2WrpPPx5UllBg60AcOgSBkc" />
{% endblock %}

{% block body %}
<div class="container">
	<h1>Vítejte!</h1>
	
	<hr>
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-7485153109948583"
	     data-ad-slot="9169322409"
	     data-ad-format="auto"></ins>
	<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endblock %}
